/* ————————————————————dock栏———————————————————— */
.dock{
	background-color: var(--O-dock-background);
}

.dock#dockLeft,.dock#dockRight{
	width: var(--O-dock-item-width);
	border: none;
}

.dock#dockLeft .dock__item{
	color: var(--O-dock-color);
	margin: 7px 0 7px 5px;
}
.dock#dockRight .dock__item{
	color: var(--O-dock-color);
	margin: 7px 6px 7px 0;
}
.dock#dockLeft .dock__item--active{
	color: var(--b3-theme-background);
	background-color: var(--O-dockleft-item-active-background);
}
.dock#dockRight .dock__item--active{
	color: var(--b3-theme-background);
	background-color: var(--O-dockleft-item-active-background);
}

.dock#dockLeft .dock__item:first-child,.dock#dockRight .dock__item:first-child{
	margin-top: 0px;
}
.dock#dockLeft .dock__item:last-child,.dock#dockRight .dock__item:last-child{
	margin-bottom: 0px;
}
.dock#dockLeft .dock__item:last-child::after,.dock#dockRight .dock__item:last-child::after{
	transform: translateY(calc(50% - 7px)) scale(1);
}
.dock__item svg{
	width: 12px;
}
.dock__item {
	padding:5px 6px;
	border-radius: 9px;
}
.dock#dockLeft .dock__item:hover,
.dock#dockRight .dock__item:hover,
.dock#dockBottom .dock__item:hover{
	background-color: var(--O-dock-item-hover-background);
	color:var(--b3-theme-background);
	transition: all 300ms;
}

/*dock焦点状态*/
.dock__item--activefocus{
	background: var(--O-dock--item--activefocus)!important;
	color:var(--b3-theme-background)!important;
}

/* 底dock栏 */
.dock#dockBottom{
	padding: 0 30px;
	border-top:none;
}
.layout__dockb .fn__flex{
	border-radius: 16px;
}
#dockBottom .dock__item{
	color: var(--O-dock-color);
	height: 14px;
}
.dock#dockBottom .dock__item--active{
	color: var(--b3-theme-background);
    background-color: var(--O-dockleft-item-active-background);
}
.dock#dockBottom .dock__item:hover{
    background-color: var(--O-dock-item-hover-background);
    transition: all 300ms;
}

.layout__dockb.layout--float{
	margin-left:34px;
	margin-right:34px;
	border-radius: 16px;
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07), 0 0.3px 0.7px rgba(0,0,0,.12);
}
