/* ————————————————————页签———————————————————— */
.layout-tab-bar{
	position:relative;
	margin-bottom:8px;
}
/*页签前后分割线
ul.layout-tab-bar:not(.layout-tab-bar--readonly):before{
	content: "";
	position:relative;
	left:-8px;
    height: 20px;
    border-left: 1px solid var(--b3-layout-resize);
	z-index:9;
}
.layout__center .layout__resize--lr+.fn__flex-1 ul.layout-tab-bar:not(.layout-tab-bar--readonly):before{
	display:none;
}

ul.layout-tab-bar--readonly .item__close[data-type="more"]:after{
	content: "";
	position:relative;
	right:-8px;
    height: 40px;
	z-index:9;
	margin-top: 0px;
}*/
/*———————————————————— */


.layout-tab-bar .item--pin{
	margin-right:8px!important;
	padding:2px;
}
.layout-tab-bar .item__icon>img, .layout-tab-bar .item__icon>svg{
	width: 18px;
}
.layout-tab-bar svg.item__graphic{
	padding:0 0 0 6px;
	width: 24px;
}
.layout-tab-bar .item__icon{
	padding:0px 0 0px 6px;
}
.layout-tab-bar .item--pin .item__icon{
	padding:0px 2px 0px 3px;
}
.layout-tab-bar .item--pin .custom-icon{
	padding:2px 0px 3px 0px;
}
.layout-tab-bar .item--pin .item__text{
	padding:0px 2px 0px 3px;
}

.layout-tab-bar .item--pin:nth-child(4n-3){
	background-color:var(--b3-card-error-background);
}
.layout-tab-bar .item--pin:nth-child(4n-2){
	background-color:var(--b3-card-warning-background);
}
.layout-tab-bar .item--pin:nth-child(4n-1){
	background-color:var(--b3-card-info-background);
}
.layout-tab-bar .item--pin:nth-child(4n){
	background-color:var(--b3-card-success-background);
}
.layout-tab-bar .item__graphic{
	padding:2px 0 0px 6px;
}
.layout__center .layout-tab-bar--readonly {
    min-width: 82px;
}