/* ————————————————————页签———————————————————— */
.layout-tab-bar{
	padding:0 0 0 4px;
	border: none;
	background-color: var(--O-tabbar-background);
}
.layout__center .fn__flex>[data-type="wnd"]>.fn__flex{
	padding: 7px 7px 0 7px;
	background-color: var(--b3-theme-background);
}
.layout-tab-bar .item{
	margin-right:4px;
	border-radius: 6px!important;
	min-height:unset;
	min-width:unset;
	overflow:visible;
}
.layout-tab-bar .item__icon svg{
	height: 16px;
}
.layout-tab-bar:not(.layout-tab-bar--readonly){
	border-radius: 8px 0 0 8px;
}
.layout-tab-bar.layout-tab-bar--readonly{
	border-radius: 0 8px 8px 0;
}
.layout-tab-bar .item--focus{
	background-color: var(--b3-theme-background);
	box-shadow: 0 4px 9px rgba(0,0,0,.05), 0 1.5px 2.8px rgba(0,0,0,.07)!important;
}
.layout__wnd--active .layout-tab-bar .item--focus:after,.layout-tab-bar .item--focus:after{
	background-color: transparent;
}
.layout-tab-bar .item:not(.item--readonly):hover{
	background-color:var(--O-list-background)!important;
	transition: all 300ms;
}
.layout-tab-bar .item--readonly{
	padding:0;
}
.body--window .layout-tab-bar .item--readonly{
	margin:0;
}
.block__icon--show[data-type="more"] svg,.block__icon--show[data-type="new"] svg{
	width: 10px;
	height: 10px;
}
.block__icon--show[data-type="more"],.block__icon--show[data-type="new"] {
    padding: 7px;
	border-radius: 5px;
	margin: 5px;
}

.block__icon--show[data-type="more"]:hover,.block__icon--show[data-type="new"]:hover{
	background-color:var(--O-list-background)!important;
}
.layout-tab-bar .item__text{
    padding: 2px 2px 2px 6px; 
	font-weight: 600;
	-webkit-mask-image:none;
}
.layout-tab-bar .item__close{
	padding: 4px 6px 4px 2px;
}

.layout-tab-bar .item--pin{
	padding:2px;
}
.layout-tab-bar .item__icon>img, .layout-tab-bar .item__icon>svg{
	width: 18px;
}
.layout-tab-bar svg.item__graphic{
	padding:0 0 0 6px;
	width: 24px;
}
.layout-tab-bar .item__icon{
	padding:0px 0 0px 6px;
}
.layout-tab-bar .item--pin .item__icon{
	padding:0px 3px 0px 4px;
}
.layout-tab-bar .item--pin .item__graphic{
	padding:4px 0px 4px 0px;
}
.layout-tab-bar .item--pin .item__text{
	padding:0px 2px 0px 3px;
}

.layout-tab-bar .item--pin:nth-child(4n-3){
	background-color:var(--b3-card-error-background);
}
.layout-tab-bar .item--pin:nth-child(4n-2){
	background-color:var(--b3-card-warning-background);
}
.layout-tab-bar .item--pin:nth-child(4n-1){
	background-color:var(--b3-card-info-background);
}
.layout-tab-bar .item--pin:nth-child(4n){
	background-color:var(--b3-card-success-background);
}
.layout-tab-bar .item__graphic{
	padding:2px 0 0px 6px;
}
.layout__center .layout-tab-bar--readonly {
    min-width: 82px;
}